body {
    margin: 0;
    
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    color: #6c7279;
    
    background-color: #fff;
    -webkit-font-smothing: antialiased;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
  
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0 0 10px 0;
}

/* Container
------------------------------------------------------- */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header
------------------------------------------------------- */
.header {
    width: 100%;
    height: 100px;
    
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    padding: 38px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #4d4f65;
}

/* Nav
------------------------------------------------------- */
.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav_link {
    margin-left: 59px;
    color: #fff;
    text-decoration: none;
    opacity: .75;
    
    transition: opacity .1s linear;
}

.nav_link:first-child{
    margin-left: 0px;
}

.nav_link:hover {
    text-decoration: underline;
    opacity: 1;
}

/* Intro
------------------------------------------------------- */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    padding-top: 101px;
    
    background-color: #2a2e48;
    background: url("../img/Background_header.jpg");
    background-repeat: no-repeat / cover;
    background-position: center;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1.1;    
}

.intro__subtitle {
    margin-top: 41px;
    margin-bottom: 77px;
    font-size: 22px;
    color: #ffffff;
    line-height: 1.5;
    font-weight: 400;
}

/* Button
------------------------------------------------------- */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 17px 50px;
    
    font-family: inherit;
    font-size: 13px;
    font-weight: 600;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.61;
    text-decoration: none;
    
    border-radius: 2px;
    border: 0;
    cursor: pointer;
    
    transition: background .1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--long {
    min-width: 282px;
}

.btn--red:hover {
    background-color: #e02d2d;
}

/* Features
------------------------------------------------------- */
.features {
    display: flex;
    flex-wrap: wrap;
    margin: 99px 0px;
}

.features__item {
    width: 33.33333%;
    padding: 0 47px;
    font-family: inherit;
    font-size: 14px;
    text-align: center;
    margin: 37px 0px;
}

.features__title {
    margin-top: 35px;
    
    font-size: 14px;
    color: #2d3033;
    font-weight: 700;
    line-height: 1;
    text-transform: uppercase;
}

.features__text {
    margin-top: 25px;
    
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5;
}

/* Works
------------------------------------------------------- */
.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
}

.works__img {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    top: 50%;
    left: 50%;
    
    transform: translate3d(-50%, -50%, 0)
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    width: 100%;
    height: 100%;
    
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    
    background-color: rgb(231, 69, 69, 0.9);
    opacity: 0;
    transition: opacity .2s linear;
}

.works__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 13px;
    
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    line-height: 1;
}

.works__text {
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
    line-height: 1;
}

.works__item:hover .works__content {
    opacity: 1;
}

/* Team
------------------------------------------------------- */
.team {
    margin: 100px 0 70px 0;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    font-family: inherit;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team_img {
    display: block;
    max-width: 100%;
    height: auto;
}

.team__title {
    font-size: 22px;
    line-height: 1;
    font-weight: 600;
    
    color: #2d3033;
    margin-top: 30px;
}


.team__profesion {
    font-size: 13px;
    line-height: 1;
    text-transform: uppercase;
    
    
    color: #e84545;
    margin-top: 15px;
}

.team__text {
    font-size: inherit;
    line-height: 1.5;
    
    color: inherit;
    margin-top: 28px;
}

.team__social {
    margin-top: 27px;
    
}

/* Social
------------------------------------------------------- */
.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__link {
    margin-top: 27px;
    margin-right: 4px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 42px;
    height: 42px;
    
    background-color: #ffffff;
    border: 1px solid #e8ecee;
    transition: background .2s linear;
}

.social__link:hover {
    background-color: #e8ecee;
}

.social__link:hover .social_icon {
    fill: #000000;
}

.social--footer .social__link {
    background: transparent;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 2px;
    margin-right: 6px;
    margin-top: 0px;
    transition: border .2s linear;
    transition: background .2s linear;
}

.social--footer .social__link:last-child {
    margin-right: 0px;
}
.social--footer .social__link:hover {
    border-color: #000000;
    background-color: #ffffff;
}

.social_icon {
    height: 18px;
    fill: #c6cacc;
    
    transition: fill .2s linear;
}

.social--footer .social_icon {
    fill: #ffffff;
}

/* Opinion
------------------------------------------------------- */
.opinion {
    overflow: hidden;  
    background-color: #53354a;
}

.opinion__item {
    display: flex;
    flex-wrap: wrap;
}

.opinion__photo {
    width: 50%;
    height: 500px;
    position: relative;
}

.opinion__img {
    position: absolute;
    height: 500px;
    top: 50%;
    right: 0;
    transform: translate3d();
    z-index: 1;
    transform: translateY(-50%);
}

.opinion__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    color: #ffffff;
    padding-left: 85px;
}

.opinion__text {
    font-family: 'Cardo', sans-serif;
    font-size: 36px;
    font-style: italic;
    font-weight: 400;
    line-height: 1.16;
}

.opinion__author {
    margin-top: 30px;
    text-transform: uppercase;
    font-family: inherit;
    font-size: 13px;
    line-height: 1.61;
    font-weight: 700;
}

/* Download
------------------------------------------------------- */
.download {
    margin: 100px 0;
    text-align: center;
}

.download__title {
    font-weight: 300;
    font-family: inherit;
    font-size: 28px;
    color: #2d3033;
    line-height: 0.75;
    
    margin-bottom: 16px;
}

.download__text {
    font-family: inherit;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 1.61;
    color: #2d3033;
    
    margin-bottom: 40px;
}

/* Footer
------------------------------------------------------- */
.footer {
    background-color: #3a3e64;
    font-family: inherit;
    font-size: 14px;
    color: #ffffff;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0;
}

.footer__block {
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}

.footer__title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer__text {
    line-height: 1.5;
    color: rgb(255, 255, 255, 0.5);
}

/* Copyright
------------------------------------------------------- */
.copyright {
    background-color: #313454;
    padding: 20px 0;
}

.copyright__text {
    text-align: center;
    font-family: inherit;
    font-size: inherit;
    line-height: 1.6;
    color: #808080;
}

.copyright__text span {
    color: #ffffff;
}

/* Burger
------------------------------------------------------- */
.burger {
    display: none;
    
    background: none;
    border: 0;
    cursor: pointer;
    padding: 9px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    
    background-color: #ffffff;
    
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item:before {
    content: "";
    width: 100%;
    height: 100%;
    
    position: absolute;
    left: 0;
    z-index: 1;
    top: 8px;
    background-color: #fff
}

.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    
    position: absolute;
    left: 0;
    z-index: 1;
    bottom: 8px;
    background-color: #fff
}

/* Media
------------------------------------------------------- */
@media (max-width: 1300px) {
    /*  Works  */
    .works__item {
        width: 33.33333%;
    }
    
    .works__img {
        min-width: 100%;
    }
}

@media (max-width: 991px) {
    
    /*  Intro  */
    .intro__title {
        font-size: 40px;
    }
    
    /*  Nav  */
    .nav {
        display: none;
    }
    
    /*  Burger  */
    .burger {
        display: block
    }
    
    /*  Features  */
    .features__item {
        width: 50%;
    }   
    
    /*  Works  */
    .works__item {
        width: 50%;
    }
    
    /*  Team  */
    .team__item {
        width: 50%;
        text-align: center;
    }
    
    .team_img {
        margin-left: auto;
        margin-right: auto;
    }
    
    /*  Social  */
    .social {
        justify-content: center;
    }
    
    /*  Opinion  */
    .opinion__photo {
        width: 100%;
        overflow: hidden;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .opinion__text {
        width: 100%;
        padding-left: 0;
        padding-bottom: 15px;
    }
}

@media (max-width: 767px) {
    
    /*  Intro  */
    .intro__title {
        font-size: 30px;
    }
    
    .intro {
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    
    .intro__subtitle {
        font-size: 16px;
    }
    
    /*  Features  */
    .features {
        margin: 40px 0;
    }  
    
    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }      
    
    /*  Works  */
    .works__item {
        width: 100%;
    }
    
    .works__img {
        width: 100%;
        height: 300px;
    }
    
    /*  Team  */
    .team {
        margin: 60px 0 30px;
    }
    
    .team__item {
        width: 100%;
    }
}

















